{% extends "_includes/layout.njk" %}
{% from "_includes/macros.njk" import example %}
{% set title = "Activity Indicator" %}

{% block content %}

  {% call example("Sizes") %}
<div class="flex flex-wrap items-center gap-4">
  <span class="activity-indicator activity-indicator-sm"></span>
  <span class="activity-indicator"></span>
  <span class="activity-indicator activity-indicator-lg"></span>
</div>
{% endcall %}

  {% call example("Button") %}
<div class="flex flex-wrap items-center gap-4">
  <button class="btn-gray" disabled>
    <span class="activity-indicator activity-indicator-sm"></span>
    Loading…
  </button>
  <button class="btn-tinted" disabled>
    <span class="activity-indicator activity-indicator-sm"></span>
    Please wait
  </button>
  <button class="btn-filled" disabled>
    <span class="activity-indicator activity-indicator-sm"></span>
    Processing
  </button>
</div>
{% endcall %}

{% endblock %}
