{% extends "_includes/layout.njk" %}
{% from "_includes/macros.njk" import example %}
{% set title = "Breadcrumb" %}

{% block content %}

  {% call example("Default") %}
<nav class="breadcrumb">
  <a href="#">Home</a>
  <a href="#">Components</a>
  <span aria-current="page">Breadcrumb</span>
</nav>
{% endcall %}

  {% call example("Collapsed") %}
<nav class="breadcrumb">
  <a href="#">Home</a>
  <span>&hellip;</span>
  <a href="#">Components</a>
  <span aria-current="page">Breadcrumb</span>
</nav>
{% endcall %}

{% endblock %}
