{% extends "_includes/layout.njk" %}
{% from "_includes/macros.njk" import example %}
{% set title = "Button Group" %}

{% block content %}

  {% call example("Default") %}
<div class="btn-group">
  <button>Left</button>
  <button>Center</button>
  <button>Right</button>
</div>
{% endcall %}

  {% call example("Active state") %}
<div class="btn-group">
  <button data-active>Day</button>
  <button>Week</button>
  <button>Month</button>
</div>
{% endcall %}

{% endblock %}
