{% extends "_includes/layout.njk" %}
{% from "_includes/macros.njk" import example %}
{% set title = "Callout" %}
{% set description = "Inline informational container." %}

{% block content %}

  <h3>Selectors</h3>
  <dl>
    <dt><code>.callout</code></dt>
    <dd>Neutral informational container.</dd>
  </dl>

  {% call example("Default") %}
<div class="callout">
  <h5>Software Update</h5>
  <p>A new version of macOS is available. Update now to get the latest features and security improvements.</p>
</div>
{% endcall %}

  {% call example("With Tailwind utilities") %}
<div class="callout">
  <h5 class="text-destructive">Threat Notification</h5>
  <p>Apple sent you a threat notification via email and iMessage on July 9, 2024.</p>
</div>
{% endcall %}

{% endblock %}
