{% extends "_includes/layout.njk" %}
{% from "_includes/macros.njk" import example %}
{% set title = "Card" %}

{% block content %}

  {% call example("Default") %}
<div class="card">
  <h4>iCloud Storage</h4>
  <p>5 GB of 50 GB used. Manage your storage plan and see what's using space.</p>
</div>
{% endcall %}

  {% call example("With Link") %}
<div class="card">
  <h4>Software Update</h4>
  <p>macOS Sequoia 15.3 is available.</p>
  <a href="#">Update Now</a>
</div>
{% endcall %}


{% endblock %}
