{% extends "_includes/layout.njk" %}
{% from "_includes/macros.njk" import example %}
{% set title = "Checkbox" %}
{% set description = "Auto-styled native checkbox with check icon." %}

{% block content %}

  <h3>Classes</h3>
  <dl>
    <dt><code>input[type="checkbox"]</code></dt>
    <dd>Auto-styled checkbox within .cider scope.</dd>
  </dl>

  {% call example("Default") %}
<div class="space-y-2.5">
  <label>
    <input type="checkbox" />
    Accept terms and conditions
  </label>
  <label>
    <input type="checkbox" checked />
    Remember me
  </label>
</div>
{% endcall %}

  {% call example("Disabled") %}
<label>
  <input type="checkbox" disabled />
  Accept terms and conditions
</label>
{% endcall %}

  {% call example("With Text") %}
<label>
  <input type="checkbox" />
  <span>Accept terms and conditions</span>
  <small>By clicking this checkbox, you agree to the terms and conditions.</small>
</label>
{% endcall %}

  {% call example("Group") %}
<fieldset>
  <legend>Interests</legend>
  <label>
    <input type="checkbox" name="interests" value="design" checked />
    Design
  </label>
  <label>
    <input type="checkbox" name="interests" value="engineering" />
    Engineering
  </label>
  <label>
    <input type="checkbox" name="interests" value="marketing" />
    Marketing
  </label>
</fieldset>
{% endcall %}

{% endblock %}
