{% extends "_includes/layout.njk" %}
{% from "_includes/macros.njk" import example %}
{% set title = "Inline Alert" %}

{% block content %}

  {% call example("Default") %}
<div class="inline-alert">
  <svg viewBox="0 0 24 24" fill="currentColor"><path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 0 1 .67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 1 1-.671-1.34l.041-.022ZM12 9a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd"/></svg>
  <div><p>Software Update</p><p>A new version of macOS is available. Update now to get the latest features and security improvements.</p></div>
</div>
{% endcall %}

  {% call example("Destructive") %}
<div class="inline-alert inline-alert-destructive">
  <svg viewBox="0 0 24 24" fill="currentColor"><path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd"/></svg>
  <div><p>Connection Failed</p><p>Unable to connect to the server. Check your internet connection and try again.</p></div>
</div>
{% endcall %}

  {% call example("With Close Button") %}
<div class="inline-alert" id="demo-inline-alert-close">
  <svg viewBox="0 0 24 24" fill="currentColor"><path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd"/></svg>
  <div class="flex-1"><p>Payment Received</p><p>Your payment of $49.00 has been processed.</p></div>
  <button onclick="this.closest('.inline-alert').style.display='none'" class="ml-auto -mr-1 -mt-0.5 inline-flex size-7 items-center justify-center rounded-lg text-current opacity-40 transition-opacity hover:opacity-80 cursor-pointer">
    <svg class="size-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/></svg>
  </button>
</div>
{% endcall %}

  {% call example("With Action") %}
<div class="inline-alert">
  <svg viewBox="0 0 24 24" fill="currentColor"><path fill-rule="evenodd" d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.499-2.599 4.499H4.645c-2.309 0-3.752-2.5-2.598-4.499L9.4 3.003ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd"/></svg>
  <div class="flex-1">
    <p>Update Available</p>
    <p>A new version of Cider UI (v2.4.0) is available.</p>
    <div class="mt-3 flex gap-2">
      <button class="btn-tinted text-xs h-7 px-2.5">Later</button>
      <button class="btn-gray text-xs h-7 px-2.5">Update Now</button>
    </div>
  </div>
</div>
{% endcall %}

{% endblock %}
