{% extends "_includes/layout.njk" %}
{% from "_includes/macros.njk" import example %}
{% set title = "Textarea" %}

{% block content %}

  {% call example("Default") %}
<textarea rows="3" placeholder="Type your message..."></textarea>
{% endcall %}

  {% call example("Invalid") %}
<textarea rows="3" placeholder="Type your message..." aria-invalid="true"></textarea>
{% endcall %}

  {% call example("Disabled") %}
<textarea rows="3" placeholder="Type your message..." disabled></textarea>
{% endcall %}

  {% call example("With Label") %}
<label class="grid gap-1.5">Message
  <textarea rows="3" placeholder="Type your message..."></textarea>
</label>
{% endcall %}

  {% call example("Form") %}
<form class="flex flex-col gap-4" onsubmit="return false">
  <label class="space-y-1.5">Bio
    <textarea rows="3" placeholder="Tell us a bit about yourself"></textarea>
    <small>You can @mention other users and organizations.</small>
  </label>
  <button class="btn-gray" type="submit">Submit</button>
</form>
{% endcall %}

{% endblock %}
