{% extends "_includes/layout.njk" %}
{% from "_includes/macros.njk" import example %}
{% set title = "Textarea" %}

{% block content %}

  {% call example("Default") %}
<textarea rows="3" placeholder="Type your message..."></textarea>
{% endcall %}

  {% call example("Invalid") %}
<textarea rows="3" placeholder="Type your message..." aria-invalid="true"></textarea>
{% endcall %}

  {% call example("Disabled") %}
<textarea rows="3" placeholder="Type your message..." disabled></textarea>
{% endcall %}

  {% call example("With Label") %}
<div class="grid gap-1.5">
  <label for="demo-ta-label">Message</label>
  <textarea id="demo-ta-label" rows="3" placeholder="Type your message..."></textarea>
</div>
{% endcall %}

  {% call example("With Text") %}
<div class="grid gap-1.5">
  <label for="demo-ta-text">Bio</label>
  <textarea id="demo-ta-text" rows="3" placeholder="Type your message..."></textarea>
  <small>Type your message and press enter to send.</small>
</div>
{% endcall %}

  {% call example("With Button") %}
<div class="grid gap-3">
  <textarea rows="3" placeholder="Type your message..."></textarea>
  <button class="btn-gray" type="submit">Submit</button>
</div>
{% endcall %}

  {% call example("Form") %}
<form class="flex flex-col gap-4" onsubmit="return false">
  <div class="space-y-1.5">
    <label for="demo-ta-form">Bio</label>
    <textarea id="demo-ta-form" rows="3" placeholder="Tell us a bit about yourself"></textarea>
    <small>You can @mention other users and organizations.</small>
  </div>
  <button class="btn-gray" type="submit">Submit</button>
</form>
{% endcall %}

{% endblock %}
