{% extends "_includes/layout.njk" %}
{% from "_includes/macros.njk" import example %}
{% set title = "Tooltip" %}

{% block content %}

  {% call example("Top (Default)") %}
<div class="tooltip">
  <button class="btn-tinted">Hover me</button>
  <div class="tooltip-content">
    Tooltip text
  </div>
</div>
{% endcall %}

  {% call example("Bottom") %}
<div class="tooltip tooltip-bottom">
  <button class="btn-tinted">Bottom</button>
  <div class="tooltip-content">
    Bottom tooltip
  </div>
</div>
{% endcall %}

  {% call example("Right") %}
<div class="tooltip tooltip-right">
  <button class="btn-tinted">Right</button>
  <div class="tooltip-content">
    Right tooltip
  </div>
</div>
{% endcall %}

  {% call example("Left") %}
<div class="tooltip tooltip-left">
  <button class="btn-tinted">Left</button>
  <div class="tooltip-content">
    Left tooltip
  </div>
</div>
{% endcall %}

{% endblock %}
